// List of parameters that can be passed to this workflow

params.infile = "/restricted/projectnb/decamp/Data/Nasal_Brushing/RNA/Alignments/NA7DNT39/inputID_NA7DNT39.txt"
params.infile_header = true
params.output_dir = "/restricted/projectnb/decamp/Data/Nasal_Brushing/RNA/Alignments/NA7DNT39/"
params.prefix = "NA7DNT39"
params.demofile = "/restricted/projectnb/decamp/Annotation/Demographics/20180223_DECAMP_Demographics.txt"

params.read_length = 75
params.stranded = true

// Module versions
params.modules = [
  fastqc:"fastqc/0.11.3",
  gatk:"gatk/3.5",
  gcc:"gcc/5.1.0",
  java:"java/1.8.0_66",
  multiqc:"multiqc/0.9",
  picard:"picard/2.8.0",
  python:"python/2.7.12",
  R:"R/3.3.2",
  rsem:"rsem/1.3.0",
  rseqc:"rseqc/2.6.4",
  samtools:"samtools/1.5",
  star:"star/2.5.2b"
]

// Database builds
UCSC_BUILD = "hg19"
ENSEMBL_BUILD = "Homo_sapiens.GRCh37.75"
DBSNP_BUILD = "138"

// Paths to static files
ROOT_PATH = "/restricted/projectnb/cbmhive"
REF_PATH = "${ROOT_PATH}/references"
SCRIPT_PATH = "/restricted/projectnb/decamp/"

params.GATK = [
  dbsnp:"${REF_PATH}/ucsc/${UCSC_BUILD}/base_random/dbsnp_${DBSNP_BUILD}.${UCSC_BUILD}.vcf",
  gold_indels1:"${REF_PATH}/ucsc/${UCSC_BUILD}/base_random/1000G_phase1.indels.${UCSC_BUILD}.sites.vcf",
  gold_indels2:"${REF_PATH}/ucsc/${UCSC_BUILD}/base_random/Mills_and_1000G_gold_standard.indels.${UCSC_BUILD}.sites.vcf"
]

params.RSEM = [
  reference:"${REF_PATH}/RSEM/ucsc/${UCSC_BUILD}/Ensembl/${ENSEMBL_BUILD}/base_random/${ENSEMBL_BUILD}.ucsc.base_random"
]

params.STAR = [
  ref_dir:"${REF_PATH}/STAR/ucsc/${UCSC_BUILD}/base_random/"
]

params.ref_fasta = "${REF_PATH}/ucsc/${UCSC_BUILD}/base_random/${UCSC_BUILD}.fa"
params.gene_gtf = "${REF_PATH}/RSEM/ucsc/${UCSC_BUILD}/Ensembl/${ENSEMBL_BUILD}/base_random/${ENSEMBL_BUILD}.ucsc.base_random.gtf"
params.gene_bed = "${REF_PATH}/RSEM/ucsc/${UCSC_BUILD}/Ensembl/${ENSEMBL_BUILD}/base_random/${ENSEMBL_BUILD}.ucsc.base_random.bed"

params.createSE_script = "${SCRIPT_PATH}/Scripts/RNA/Alignment/Nextflow/createSEfromRSEM.R"
params.inferAncestry_script = "${SCRIPT_PATH}/Scripts/RNA/Alignment/Nextflow/inferAncestry.R"

// Project used for SGE cluster (e.g., PROJECT = "pulmseq")
PROJECT = "camplab"

process {
  // Global cluster parameters
  executor='sge'
  scratch=true

  // Cluster parameters specific to each process
  $runAddReadGroupInfo.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=4G -pe omp 4"
  $runAddReadGroupInfo2.clusterOptions         = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=4G -pe omp 4"
  $runAnalyzeCovariates.clusterOptions         = "-P ${PROJECT} -l h_rt=12:00:00  -l mem_total=5G -l cpu_type=E5-2670"
  $runBaseRecalibrator.clusterOptions          = "-P ${PROJECT} -l h_rt=96:00:00  -l mem_total=5G -l cpu_type=E5-2670"
  $runBaseRecalibratorPostRecal.clusterOptions = "-P ${PROJECT} -l h_rt=48:00:00  -l mem_total=5G -l cpu_type=E5-2670"
  $runBamToFastq.clusterOptions                = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=8G  -pe omp 2"
  $runCollectMultipleMetrics.clusterOptions    = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=1G"
  $runCombineVariants.clusterOptions           = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=5G -l cpu_type=E5-2670"
  $runCreateSE.clusterOptions                  = "-P ${PROJECT} -l h_rt=96:00:00  -l mem_total=5G"
  $runDepthOfCoverage.clusterOptions           = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=1G"
  $runFastQC.clusterOptions                    = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=1G"
  $runFilterVariants.clusterOptions            = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=5G"
  $runHTC.clusterOptions                       = "-P ${PROJECT} -l h_rt=96:00:00  -l mem_total=5G"
  $runHybridCaptureMetrics.clusterOptions      = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=1G"
  $runIndelRealigner.clusterOptions            = "-P ${PROJECT} -l h_rt=192:00:00 -l mem_per_core=8G -pe omp 2"
  $runMarkDuplicates.clusterOptions            = "-P ${PROJECT} -l h_rt=48:00:00  -l mem_per_core=8G  -pe omp 2"
  $runMergeBams.clusterOptions                 = "-P ${PROJECT} -l h_rt=48:00:00  -l mem_per_core=4G  -pe omp 2"
  $runMultiQCFastq.clusterOptions              = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=1G"
  $runMultiQCLibrary.clusterOptions            = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=1G"
  $runMultiQCSample.clusterOptions             = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=1G"
  $runOxoGMetrics.clusterOptions               = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_total=1G"
  $runPrintReads.clusterOptions                = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=8G -pe omp 2"
  $runRealignerTargetCreator.clusterOptions    = "-P ${PROJECT} -l h_rt=96:00:00  -l mem_total=1G  -pe omp 4"
  $runRSEM.clusterOptions                      = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=16G"
  $runRSeQC.clusterOptions                     = "-P ${PROJECT} -l h_rt=96:00:00  -l mem_per_core=4G"
  $runSortTranscriptomeBams.clusterOptions     = "-P ${PROJECT} -l h_rt=48:00:00  -l mem_per_core=4G  -pe omp 2"
  $runSplitNCigarReads.clusterOptions          = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=4G  -pe omp 4"
  $runSTAR_1pass.clusterOptions                = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=16G  -pe omp 4"
  $runSTAR_2pass.clusterOptions                = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=16G  -pe omp 4"
  $runSTAR_GenomeGenerate.clusterOptions       = "-P ${PROJECT} -l h_rt=24:00:00  -l mem_per_core=16G  -pe omp 4"
  $runMergeTranscriptomeBams.clusterOptions    = "-P ${PROJECT} -l h_rt=48:00:00  -l mem_per_core=4G  -pe omp 2"
  $inferAncestry.clusterOptions               = "-P ${PROJECT} -l h_rt=96:00:00  -l mem_total=1G"
}
